@import "../../../../../sass/_mixins";
@import "../../../../../sass/variables";

.coin-table-container {
  margin: 1.3em 0.2em 4em 0.2em;
}

.mat-table {
  width: 100%;
  background-color: darken($darker, 11);
}

.mat-row:hover {
  background-color: darken($darkest, 10);
}

.coin-icon {
  transition: transform 0.2s;
}

.coin-icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

mat-header-cell {
  color: $base-color;
}

.number-element {
  color: $base-color;
}

.name-element {
  color: lighten($base-color, 6);
}

.name-element:hover {
  cursor: pointer;
  color: lighten($base-color, 12);
}

.coin-table-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 0.9em;
  }
}

.coin-table-search {
  background-color: darken($darker, 11);
  color: $base-color;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  transition-property: transform;
  transition-duration: 1.2s;
  transition-delay: 0.5s;
}

.search-icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.search-form-field {
  width: 92%;
}

.loading-text {
  color: $base-color;
}

@include phone {
  mat-header-cell {
    font-size: 0.65em;
  }

  .name-element {
    font-size: 0.6em;
  }

  .number-element {
    font-size: 0.6em;
  }

  .coin-icon {
    height: 1.15em;
    width: 1.15em;
  }

  .change-element {
    font-size: 0.68em;
  }

  @include mat-table-columns(
    (
      icon: (
        width: 1.25rem,
        color: gray,
      ),
      name: (
        width: 5.9rem,
      ),
      volume: (
        width: 5.9rem,
      ),
      price: (
        width: 5rem,
      ),
      change: (
        width: 4rem,
      ),
    )
  );
}

@include tablet {
  mat-header-cell {
    font-size: 1.05em;
  }

  .name-element {
    font-size: 0.97em;
  }

  .number-element {
    font-size: 0.93em;
  }

  .coin-icon {
    height: 1.85em;
    width: 1.85em;
  }

  .change-element {
    font-size: 1.1em;
  }
  @include mat-table-columns(
    (
      icon: (
        width: 1.8rem,
        color: gray,
      ),
      name: (
        width: 9.5rem,
      ),
      volume: (
        width: 8.5rem,
      ),
      price: (
        width: 8rem,
      ),
      change: (
        width: 7.5rem,
      ),
    )
  );
}

@include desktop-small {
  mat-header-cell {
    font-size: 1.05em;
  }

  .name-element {
    font-size: 1em;
  }

  .number-element {
    font-size: 0.98em;
  }

  .coin-icon {
    height: 1.95em;
    width: 1.95em;
  }

  .change-element {
    font-size: 1.3em;
  }
  @include mat-table-columns(
    (
      icon: (
        width: 1.82rem,
        color: gray,
      ),
      name: (
        width: 9.9rem,
      ),
      volume: (
        width: 9rem,
      ),
      price: (
        width: 8.7rem,
      ),
      change: (
        width: 7.9rem,
      ),
    )
  );
}

@include desktop {
  mat-header-cell {
    font-size: 1.05em;
  }

  .name-element {
    font-size: 0.97em;
  }

  .number-element {
    font-size: 0.93em;
  }

  .coin-icon {
    height: 1.85em;
    width: 1.85em;
  }

  .change-element {
    font-size: 1.1em;
  }
  @include mat-table-columns(
    (
      icon: (
        width: 1.7rem,
        color: gray,
      ),
      name: (
        width: 9rem,
      ),
      volume: (
        width: 8rem,
      ),
      price: (
        width: 8rem,
      ),
      change: (
        width: 7rem,
      ),
    )
  );
}
