<div class="coint-table-container">
  <div class="coin-table-search" [style.visibility]="isLoaded ? 'visible' : 'hidden'">
    <mat-icon class="search-icon" aria-hidden="false" aria-label="Search icon">search</mat-icon>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput (keyup)="searchTable($event.target.value)">
    </mat-form-field>
  </div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8"
      [style.visibility]="isLoaded ? 'visible' : 'hidden'"
    >
      <!-- icon Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img class="coin-icon"
           matTooltip={{(getInfoToolTip(element))}}
           (click)="openCoinInfoDialog(element)"
           src="{{ element.iconUrl }}" />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"
          (click)="goToChart(element)"
          class="name-element">
            {{ element.name }}
        </td>
      </ng-container>

      <!-- Volume Column -->
      <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Volume</th>
        <td mat-cell *matCellDef="let element" class="number-element">{{ element.volume }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element" class="number-element">{{ element.price }}</td>
      </ng-container>

      <!-- Change Column -->
      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Change (24h)</th>
        <td mat-cell *matCellDef="let element">
          <h1 ValueChange>{{ element.change }}</h1>
        </td>
      </ng-container>

      <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="coin-table-loader" *ngIf="!isLoaded">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
      <h1>Loading coins...</h1>
    </div>
</div>

