// mat-table column sizing
@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $width: map-get($props, "width");

      &#{$colName} {
        flex: $width;
        min-width: $width;

        @if map-has-key($props, "color") {
          color: map-get($props, "color");
        }
      }
    }
  }
}

// media query
$phone: 600px;
$tablet-portrait: 900px;
$tablet-landscape: 1200px;
$desktop: 1800px;

@mixin phone {
  @media (max-width: #{$phone - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone}) and (max-width: #{$tablet-portrait - 1px}) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: #{$tablet-portrait}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
