@import "../../../../sass/variables";

mat-toolbar {
  height: 8vh;
}

.nav-icon {
  align-self: center;
  padding-top: 7px;
  color: lighten($base-color, 10);
  :hover {
    color: darken($base-color, 10);
  }
}

.nav-links {
  align-self: center;
  padding-top: 7px;
  mat-icon {
    padding-right: 0.6em;
  }
}

.home-icon:hover {
  color: $home-icon;
}

.chart-icon:hover {
  color: $chart-icon;
}

.info-icon:hover {
  color: $info-icon;
}

mat-icon:hover {
  cursor: pointer;
}

.icon {
  transition-property: color 0.025s ease;
  transition-duration: 1.2s;
  transition-delay: 0.5s;
}

.filler {
  flex: 1 1 auto;
}
