@import "../../../../sass/mixins";
@import "../../../../sass/variables";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.home-header {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  font-family: "Contrail One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    darken($darkest, 10),
    lighten($base-color, 10),
    darken($darkest, 10)
  );
  background-repeat: no-repeat;
  background-size: 70%;
  animation: animate 2.2s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@include phone {
  .home-header {
    font-size: 1.4em;
  }
  app-coin-table {
    width: 99%;
  }
}

@include tablet {
  .home-header {
    font-size: 1.6em;
  }
  app-coin-table {
    width: 92%;
  }
}
@include desktop-small {
  .home-header {
    font-size: 1.7em;
  }
  app-coin-table {
    width: 80%;
  }
}
@include desktop {
  .home-header {
    font-size: 1.85em;
  }
  app-coin-table {
    width: 75%;
  }
}
