@import "../../../../sass/variables";

.current-coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $darker;
  margin: 1em;
  padding: 1em;
  border: 1px solid darken($darkest, 10);
  border-radius: 5px;
  height: 80vh;
  width: 60vw;
}

.current-chart-body {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 60vw;
}

.chart-loader {
  margin: auto;
  margin-top: 6em;
}

.current-chart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    color: $base-color;
  }
}

.header-loader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coin-select-wrapper {
  margin-left: auto;
}

.coin-icon {
  width: 2em;
  height: 2em;
}

.loader-text {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    darken($darkest, 5),
    lighten($base-color, 1),
    darken($darkest, 5)
  );
  background-repeat: no-repeat;
  background-size: 70%;
  animation: animate 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
