@import "../../../../sass/variables";
@import "../../../../sass/mixins";

mat-card {
  background-color: $darkest;
  box-shadow: none !important;
}

.current-coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-loader {
  text-align: center;
  mat-spinner {
    margin: auto;
    margin-top: 6em;
  }
}

.current-chart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    color: $base-color;
  }
}

.chart-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3em;
  h1 {
    padding-left: 6px;
  }
}

.header-loader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coin-select-wrapper {
  margin-left: auto;
  padding-right: 1.5em;
}

.coin-icon {
  width: 2em;
  height: 2em;
}

.loader-text {
  padding-top: 0.8em;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    darken($darkest, 5),
    lighten($base-color, 1),
    darken($darkest, 5)
  );
  background-repeat: no-repeat;
  background-size: 70%;
  animation: animate 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.coin-options {
  background-color: darken($dark, 9);
  color: $base-color;
}

.coin-options:hover {
  background-color: $darkest;
  color: darken($base-color, 5);
}

::ng-deep .mat-select-value-text {
  color: $base-color !important;
}

::ng-deep .mat-select-arrow {
  color: $base-color !important;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@include phone {
  .loader-text h1 {
    font-size: 0.6em;
  }
  .coin-select-wrapper {
    padding-right: 1em;
  }
}
