<div class="current-coin-container">
  <div class="current-chart-wrapper">
    <div *ngIf="isLoaded; else headerLoader" class="current-chart-header">
      <img class="coin-icon"
           src="{{ selectedCoinData.iconUrl }}" />
      <h1>{{selectedCoinData.name}}</h1>
    </div>
    <ng-template #headerLoader>
      loading
    </ng-template>
    <div class="current-chart-body">
    <app-chart *ngIf="isLoaded; else chartLoader" [selectedCoinData]="selectedCoinData">
    </app-chart>
    <ng-template #chartLoader>loading</ng-template>
    <div class="coin-select-wrapper">
      <mat-form-field>
        <mat-label>Select Coin</mat-label>
        <mat-select
          disableOptionCentering
          [ngModel]="selectedValue"
          (ngModelChange)="onSelectionChange($event)"
        >
          <mat-option *ngFor="let coin of currentCoinData" [value]="coin.id">{{
            coin.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
  </div>
</div>
