@import "../../../../sass/variables";

.current-coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $darker;
  margin: 1em;
  padding: 1em;
  border: 1px solid darken($darkest, 10);
  border-radius: 5px;
  height: 80vh;
}

.current-chart-body {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.current-chart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    color: $base-color;
  }
}

.coin-select-wrapper {
  .mat-form-field {
    padding: 0 2em;
  }
}

.coin-icon {
  width: 2em;
  height: 2em;
}
