@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");
$base-color: #d6d6d6;

html,
body {
  height: 92vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-label {
  color: $base-color !important;
}
.mat-form-field-underline {
  background-color: $base-color !important;
}
